.words {
    position: sticky;
    top: 40px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    gap: 5px;
    padding: 10px 15px 10px 15px;
    background-color: #fff;
}

.word {
    font-family: 'Times New Roman', Geneva, Tahoma, sans-serif;
    color: rgb(72, 72, 72);
    font-size: clamp(0.5em, 4vh, 64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word .wrapper {
    display: flex;
    width: 100%;
}

.translation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--words-size);
    color: rgb(72, 72, 72);
}

.transcription {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(118, 118, 118);
    font-size: var(--words-size);
}

.description {
    padding: 10px 15px 0 15px;
    text-wrap: wrap;
    font-size: clamp(0.5rem, 2vh, 34px);
    color: var(--regular-color);
    font-family: 'Monserrat', sans-serif;
}

.examples {
    display: flex;
    flex-flow: column;
    height: 400px;
    gap: clamp(20px, 15px, 25px);
    /* width: 100%; */
    padding: 10px 15px 0 15px;
    overflow-y: clip;
    scrollbar-width: hidden;
}

.examples span {
    display: block;
    /* margin: -20px 0 0 10px; */
    /* padding: 0px 0 0 10px; */
    font-size: clamp(0.5rem, 2vh, 34px);
    color: var(--regular-color);
    font-family: var(--main-font);
}

.examples span:nth-child(2n) {
    color: #434343;
    margin: 5px 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
    margin: 15px 0;
}

.item .word {
    font-size: clamp(0.5em, 3.5vh, 53px);
}

.item:nth-child(2n) {
    background-color: #fbfbfb;
}
